<div id="<%= dom_id phase %>">
  <p>
    <strong>Name:</strong>
    <%= phase.name %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= phase.order %>
  </p>

  <p>
    <strong>Objective:</strong>
    <%= phase.objective %>
  </p>

  <p>
    <strong>What to expect:</strong>
    <%= phase.what_to_expect %>
  </p>

  <p>
    <strong>Duration days:</strong>
    <%= phase.duration_days %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= phase.program_id %>
  </p>

</div>
