<div id="<%= dom_id exercise_log %>">
  <p>
    <strong>Reps:</strong>
    <%= exercise_log.reps %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= exercise_log.weight %>
  </p>

  <p>
    <strong>Failure:</strong>
    <%= exercise_log.failure %>
  </p>

  <p>
    <strong>User:</strong>
    <%= exercise_log.user_id %>
  </p>

</div>
