<p style="color: green"><%= notice %></p>

<p>Progression Views show action</p>

<%= render @progression %>

<div>
  <%= link_to "Edit this progression", edit_progression_path(@progression) %> |
  <%= link_to "Back to progressions", progressions_path %>

  <%= button_to "Destroy this progression", @progression, method: :delete %>
</div>
