<div id="<%= dom_id workout %>">
  <p>
    <strong>Name:</strong>
    <%= workout.name %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= workout.order %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= workout.description %>
  </p>

  <p>
    <strong>Phase:</strong>
    <%= workout.phase_id %>
  </p>

</div>
